@model CRUDCore.Models.Tasks

@{
    ViewData["Title"] = Model.Title;
}
<br />
<div class="col-md-12">
    <div class="table-responsive">
        <h4>@Model.Title</h4>
        <hr />
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdCategoryTask)</th>
                    <td><a href="/CategoryTasks/Details/@Model.IdCategoryTask" title="Click to view details">@Html.DisplayFor(model => model.CategoryTask.Title)</a></td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FromDate)</th>
                    <td>@Html.DisplayFor(model => model.FromDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DeadlineDate)</th>
                    <td>@Html.DisplayFor(model => model.DeadlineDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UnitPer)</th>
                    <td>@Html.DisplayFor(model => model.UnitPer)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IsActived)</th>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.IsActived)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-offset-1 col-md-11 form-inline">
    <button class="btn btn-primary" onclick="window.location.href='/Tasks/Manager/@Model.ID'">Edit</button>
    <button class="btn btn-default" onclick="window.location.href='/Tasks'">List</button>
</div>
<div class="clearfix"></div>
<br />
